@import '/src/global';

.brands {
  @include container;
  margin: 0 auto 89px auto;

  .title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: $pink-color;
    margin: 52px 0;
  }
  .images {
    display: flex;
  }
}
