* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

$grey-color: #f6f5f2;
$pink-color: #f71963;
$text-color: #9f9f9f;
$footer-background: #2a2a2a;

$font-family: "Poppins", sans-serif;
$max-width: 1266px;
$padding-default: 1rem;
$padding-media-query: 3rem;

@mixin container {
  font-family: $font-family;
  overflow: visible;
  width: 100%;
  max-width: $max-width;
  margin: auto;
  padding: 0 $padding-default;

  @media (max-width: 1440px) {
    padding: 0 $padding-media-query;
  }
}



.react-modal-overlay{
  background: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.react-modal-content{
  width: 100%;
  max-width: 769px;
  background: #fff;
  padding: 3rem;
  position: relative;
  outline: none;
  
  

}

.react-modal-close{
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  border: 0;
  background: transparent;
  cursor: pointer;

  &:hover{
      filter: brightness(0.9);
  }

  
}
